<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>dev.kaio.financy</key>
		<string>financy app</string>
	</dict>
	<key>signingCertificate</key>
	<string>1D29990C9A08C663244F24FA89408E8F762DC545</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2HSHWBAZS4</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
